# Idea configs
.idea/

# Node modules
node_modules/

# MacOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# Next.js build output
.next/
out/

# Coverage
coverage/
